
content home.html >> 
<a href="#/cities">go to cities</a>

		<div class="content-heading">
			<div class="container">
				<h1 class="heading">Home Page</h1>
			</div>
		</div>
		<div class="content-inner">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="content-sub-heading">Select other Page</h2>
						<nav class="tab-nav">
							<ul class="nav nav-justified">
								<li class="active">
									<a class="waves-effect" data-toggle="tab" href="#first-tab">First Tab</a>
								</li>
								<li>
									<a class="waves-effect" data-toggle="tab" href="#second-tab">Second Tab</a>
								</li>
								<li>
									<a class="waves-effect" data-toggle="tab" href="#third-tab">Third Tab</a>
								</li>
								<li>
									<a class="waves-effect" data-toggle="tab" href="#fourth-tab">Fourth Tab</a>
								</li>
							</ul>
						</nav>
						<div class="tab-content">
							<div class="tab-pane fade active in" id="first-tab">
								<p>Go to Cities.</p>
							</div>
							<div class="tab-pane fade" id="second-tab">
								<p>Go to Regions.</p>
							</div>
							<div class="tab-pane fade" id="third-tab">
								<p>Go to Works.</p>
							</div>
							<div class="tab-pane fade" id="fourth-tab">
								<p>Go to Tasks.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
