<div class="row">
	<div class="col-xs-12">
		<div class="upload-area">
      <span ng-hide="list.listUrl && list.listCoded">
        <img class="task-image" ng-src="{{'/assets/images/default.png'}}">
      </span>
     <span ng-show="list.listUrl || list.listUrl == undefined" ng-repeat="photo in list.listUrl" ng-click="list.openLightboxModal(photo)">
         <!--<img class="task-image" ng-src="{{photo}}">-->
          <img class="task-image" ng-src="{{photo}}">
      </span>
      <span ng-show="list.listCoded || list.listCoded == undefined" ng-repeat="photo in list.listCoded" ng-click="list.openLightboxModal(photo, 'base64')">
        <!--<img class="task-image" ng-src="data:image/jpeg;base64,{{photo}}">-->
        <img class="task-image" ng-src="data:image/jpeg;base64,{{photo}}">
      </span>
      <div class="instructions">
        <button type="button" ng-file-select ng-accept="list.validate($file)" ng-model="list.file" ng-file-change="list.upload()" class="btn btn-sm btn-primary btn-rounded">{{'Upload new photo'}}</button>
      </div>
      <div ng-show="list.progress > 0">
      <progressbar class="progress-striped active" value="list.progress" type="primary">{{list.progress}}%</progressbar>
      </div>
		</div>
  </div>
</div>