
<br><br>

content cities.html >> 
<a href="#/regions">go to regions</a>

<br><br>

<div class="form-horizontal clearfix" role="form">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
<br>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <panelstat-header
                        titulo="City 1"
                        icon="fa-check"
                        color="bg-success"
                        number="5"
                        ng-click="mostrarCaidos = !mostrarCaidos">
                    </panelstat-header>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <panelstat-header
                        titulo="City 2"
                        icon="fa-exclamation-triangle"
                        color="bg-warning"
                        number="10"
                        ng-click="mostrarCaidos = !mostrarCaidos">
                    </panelstat-header>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <panelstat-header
                        titulo="City 3"
                        icon="fa-remove"
                        color="bg-danger"
                        number="41"
                        ng-click="mostrarCaidos = !mostrarCaidos">
                    </panelstat-header>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <panelstat-header
                        titulo="City 4"
                        icon="fa-exclamation-triangle"
                        color="bg-primary"
                        number="14"
                        ng-click="mostrarCaidos = !mostrarCaidos">
                    </panelstat-header>
                </div>

            </div>
        </div>

    </div>
</div>
