<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">

<div class="content-heading">
    <div class="container">
        <h1 class="heading">Gantt diagram</h1>
    </div>
</div>


<div class="content-inner">
    <div class="container">
        <div class="row">
            <div class="item-options">
                <label class="btn btn-blue waves-button waves-effect waves-light" ng-click="gantt.modalAddGanttTask()">Add task</label>
            </div>

<div>
    <div gantt data="gantt.data" style="margin-left: auto; margin-right: auto;">
        <!-- <gantt-table columns="['model.name']"></gantt-table> -->
        <gantt-tree></gantt-tree>
        <gantt-groups></gantt-groups>
        <gantt-tooltips></gantt-tooltips>
        <gantt-bounds></gantt-bounds>
        <gantt-progress></gantt-progress>
        <gantt-sortable></gantt-sortable>
        <gantt-movable></gantt-movable>
        <gantt-draw-task></gantt-draw-task>
        <gantt-resize-sensor></gantt-resize-sensor>
    </div>
</div>





        </div>
    </div>
</div>
