
<div class="content-heading">
	<div class="container">
		<h1 class="heading">Login Page</h1>
	</div>
</div>

<div class="content-inner">
	<div class="container">
		<div ng-show="login.loading" class="center">
			<i class="fa fa-cog fa-spin big-icon"></i>
		</div>
		<div ng-hide="login.loading" class="row">
			<div class="col-lg-4 col-lg-push-4 col-sm-6 col-sm-push-3">
				<div class="card-wrap">
					<div class="card">
						<div ng-show="login.isAuthorized()" class="card-main">

							<span ng-hide="login.forgot">
								<div class="card-header">
									<div class="card-inner">
										<h1 class="card-heading">You're logged in as <br> {{ login.userEmail }}</h1>
									</div>
								</div>
								<div class="card-inner">
									<div class="form-group form-group-label">
										<div class="row center">
											<label class="btn btn-blue waves-button waves-effect waves-light" ng-click="login.logOut()">Click here to log out</label>
										</div>
									</div>
								</div>
							</span>

						</div>

						<div ng-hide="login.isAuthorized()" class="card-main">

							<span ng-hide="login.forgot">
								<div class="card-header">
									<div class="card-inner">
										<h1 class="card-heading">Login</h1>
									</div>
								</div>
								<div class="card-inner">
									<p class="text-center">
										<span class="avatar avatar-inline avatar-lg">
											<img alt="Login" src="assets/images/users/avatar-001.jpg">
										</span>
									</p>

									<form class="form" name="form" ng-submit="login.sendCredentials(login.optin)" novalidate>
										<div class="form-group form-group-label">
											<div class="row">
												<div class="col-md-10 col-md-push-1">
													<label class="floating-label">Email</label>
													<input class="form-control" type="email" name="email" ng-model="login.optin.email" required>
												</div>
											</div>
										</div>
										<div class="form-group form-group-label">
											<div class="row">
												<div class="col-md-10 col-md-push-1">
													<label class="floating-label">Password</label>
													<input class="form-control" type="password" name="password" ng-model="login.optin.password" required>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-10 col-md-push-1">
													<button class="btn btn-block btn-blue waves-button waves-effect waves-light" type="submit" ng-disabled="form.$invalid || login.loading">Sign In</button>
													<a ng-click="login.toggleFotgonPass();">¿Olvidó su contraseña?</a>
												</div>
											</div>
										</div>
									</form>

								</div>
							</span>

							<span ng-show="login.forgot">
								<div class="card-header">
									<div class="card-inner">
										<h1 class="card-heading">Password recover</h1>
										<p>We will send you an email to recover your password.</p>
									</div>
								</div>
								<div class="card-inner">

									<form class="form" name="formPassword" action="" novalidate>
										<div class="form-group form-group-label">
											<div class="row">
												<div class="col-md-10 col-md-push-1">
													<label class="floating-label">Email</label>
													<input class="form-control" type="email" name="email" ng-model="login.optin.email" required>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="row">
												<div class="col-md-10 col-md-push-1">
													<button class="btn btn-block btn-blue waves-button waves-effect waves-light" type="submit" ng-click="login.resetCredentials(login.optin)" ng-disabled="formPassword.$invalid">Recover</button>
						                			<span class="note">or <a ng-click="login.toggleFotgonPass();">Cancel</a></span>
												</div>
											</div>
										</div>
									</form>

								</div>
							</span>

						</div>
					</div>
				</div>
				<div ng-hide="login.isAuthorized()" class="clearfix">
					<p class="margin-no-top pull-right"><a href="javascript:void(0)">Create an account</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
