
<div class="content-heading">
	<div class="container">
		<h1 class="heading">Companies</h1>
	</div>
</div>


<div class="content-inner">
	<div class="container">
		<div class="row">

			<div class="cards-container">
				<div class="card-wrap">
					<div class="row">
						<p class="error-loading" ng-hide="list.companies.length">
							There are none companies yet! Please reload the page later
						</p>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="item in list.companies">
							<div class="card">
								<div class="card-main">
									<div class="card-img">
										<img alt="alt text" src="assets/images/company.jpg">
										<p class="card-title">{{item.name}} <br> <span class="card-subtitle">{{item.owner}}</span></p>
									</div>
									<div class="card-options">
										<ul>
											<li>
												<a href="#/company/update/{{item.$id}}"><span class="icon icon-check"></span>&nbsp;update information</a>
											</li>
											<li>
												<a ng-show="item.works.length" href="#/work/list/{{item.$id}}"><span class="icon icon-check"></span>&nbsp;show works ({{item.works.length}})</a>
												<label ng-hide="item.works.length"><span class="icon icon-close"></span>&nbsp;no works yet</label>
											</li>
											<li>
												<a href="#/work/register/{{item.$id}}"><span class="icon icon-check"></span>&nbsp;add work</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
