
<div class="card-main">
	<div class="card-header">
		<div class="card-inner">
			<h1 class="card-heading">Company information</h1>
		</div>
	</div>
	<div class="card-inner">

		<form class="form" action="" novalidate>
			<div class="form-group form-group-label">
				<div class="row">
					<div class="col-md-10 col-md-push-1">
						<label class="floating-label">Company name</label>
						<input class="form-control" type="text" name="company.name" ng-model="register.company.name" required>
					</div>
				</div>
			</div>
			<div class="form-group form-group-label">
				<div class="row">
					<div class="col-md-10 col-md-push-1">
						<label class="floating-label">Owner email</label>
						<input class="form-control" type="email" name="company.owner" ng-model="register.company.owner" required>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-10 col-md-push-1">
						<label class="btn btn-blue waves-button waves-effect waves-light" ng-click="modal.createCompany(register.company)">Create work</label>
						<label class="btn btn-red waves-button waves-effect waves-light" ng-click="modal.cancelar()">Close</label>
					</div>
				</div>
			</div>
		</form>
		
	</div>
</div>
