
<div class="content-heading">
	<div class="container">
		<h1 class="heading">Company registration</h1>
	</div>
</div>

<div class="content-inner">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-push-3 col-sm-8 col-sm-push-2">
				<div class="card-wrap">
					<div class="card">
						<div class="card-main">
							<div class="card-header">
								<div class="card-inner">
									<h1 class="card-heading">Company information</h1>
								</div>
							</div>
							<div class="card-inner">

								<form class="form" action="" novalidate>
									<div class="form-group form-group-label">
										<div class="row">
											<div class="col-md-10 col-md-push-1">
												<label class="floating-label">Company name</label>
												<input class="form-control" type="text" name="company.name" ng-model="register.company.name" required>
											</div>
										</div>
									</div>
									<div class="form-group form-group-label">
										<div class="row">
											<div class="col-md-10 col-md-push-1">
												<label class="floating-label">Owner email</label>
												<input class="form-control" type="email" name="company.owner" ng-model="register.company.owner" required>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-md-10 col-md-push-1">
												<label class="btn btn-block btn-blue waves-button waves-effect waves-light" ng-click="register.createCompany(register.company)">Create company</label>
											</div>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
