<header class="header">
	<ul class="nav nav-list pull-left">
		<li>
			<a data-toggle="menu" href="#menu">
				<span class="access-hide">Menu</span>
				<span class="icon icon-menu icon-lg"></span>
			</a>
		</li>
	</ul>
	<a class="header-logo" href="#/">JPN DEMO</a>
	<ul class="nav nav-list pull-right">
		<li>
			<a data-toggle="menu" href="#profile">
				<span class="access-hide">John Smith</span>
				<span class="avatar avatar-sm"><img alt="alt text for John Smith avatar" src="assets/images/users/avatar-001.jpg"></span>
			</a>
		</li>
	</ul>
</header>
	<nav class="menu" id="menu">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-content">
					<a class="menu-logo" href="index.html">JPN DEMO</a>
					<ul class="nav">
						<li>
							<a href="#/">Home</a>
						</li>
						<li>
							<a href="#/cities">Cities</a>
						</li>
						<li>
							<a href="#/regions">Regions</a>
						</li>
						<li>
							<a href="#/works">Works</a>
						</li>
						<li>
							<a href="#/tasks">Tasks</a>
						</li>
					</ul>
					<hr>
					<ul class="nav">
						<li>
							<a href="">More</a>
							<span class="menu-collapse-toggle collapsed" data-target="#page-palettes" data-toggle="collapse"><i class="icon icon-close menu-collapse-toggle-close"></i><i class="icon icon-add menu-collapse-toggle-default"></i></span>
							<ul class="menu-collapse collapse" id="page-palettes">
								<li>
									<a href="">Sub Section 1</a>
								</li>
								<li>
									<a href="">Sub Section 2</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<nav class="menu menu-right" id="profile">
		<div class="menu-scroll">
			<div class="menu-wrap">
				<div class="menu-top">
					<div class="menu-top-img">
						<img alt="John Smith" src="assets/images/samples/landscape.jpg">
					</div>
					<div class="menu-top-info">
						<a class="menu-top-user" href=""><span class="avatar pull-left"><img alt="alt text for John Smith avatar" src="assets/images/users/avatar-001.jpg"></span>User Name</a>
					</div>
					<div class="menu-top-info-sub">
						<small>Some additional information about User</small>
					</div>
				</div>
				<div class="menu-content">
					<ul class="nav">
						<li>
							<a href="#/login"><span class="icon icon-account-box"></span>Login</a>
						</li>
						<li>
							<a href="#/signup"><span class="icon icon-account-box"></span>Signup</a>
						</li>
						<li>
							<a href="#/password"><span class="icon icon-account-box"></span>Recover Password</a>
						</li>
						<li>
							<a href="#/register"><span class="icon icon-account-box"></span>Register</a>
						</li>
						<li>
							<a href=""><span class="icon icon-account-box"></span>Profile Settings</a>
						</li>
						<li>
							<a href=""><span class="icon icon-add-to-photos"></span>Upload Photo</a>
						</li>
						<li>
							<a href=""><span class="icon icon-exit-to-app"></span>Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>