
<div class="content-heading">
	<div class="container">
		<h1 class="heading">{{list.works.name}} works</h1>
	</div>
</div>

<div class="content-inner">
	<div class="container">
		<div class="row">
						
			<div class="item-options">
				<label class="btn btn-blue waves-button waves-effect waves-light" ng-click="list.modalRegisterWork(list.works.id)">Add work</label>
			</div>

			<div class="cards-container">
				<div class="card-wrap">
					<div class="row">
						<p class="error-loading" ng-hide="list.workspop.length">
							There are none works yet! Please create one touching the button above
						</p>
						<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="item in list.workspop">
							<div class="card">
								<div class="card-main">
									<div class="card-img">
										<img alt="alt text" src="assets/images/work.jpg">
										<p class="card-title">{{item.name}} <br> <span class="card-subtitle">{{item.location}}</span></p>
									</div>
									<div class="card-options">
										<ul>
											<li>
												<a href="#/work/update/{{item.$id}}"><span class="icon icon-check"></span>&nbsp;update information</a>
											</li>
											<li>
												<a ng-show="item.tasks.length" href="#/task/list/{{item.$id}}"><span class="icon icon-check"></span>&nbsp;show tasks ({{item.tasks.length}})</a>
												<a ng-hide="item.tasks.length" href="#/task/list/{{item.$id}}"><span class="icon icon-close"></span>&nbsp;no tasks yet</a>
											</li>
											<li>
												<a ng-click="list.modalRegisterTask(item.$id)" href=""><span class="icon icon-check"></span>&nbsp;add task</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
